<!doctype html>
<html lang="en">

<head>
	<script src="components/header.js"></script>
	<script src="components/footer.js"></script>
	<!-- Bootstrap CSS -->
	<!-- Latest compiled and minified CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<!-- Latest compiled JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>

	<!--================ Start Header Area =================-->
    <header-component></header-component>
	<!--================ End Header Area =================-->
    
   <!--================ Start About Us Area =================-->
	<section class="about_area section_gap">
        <div class="container">
            <div class="row justify-content-start align-items-center">
                <div class="col-lg-5">
                    <div class="about_img">
                        <img class="" src="img/about-us.png" alt="">
                    </div>
                </div>

                <div class="offset-lg-1 col-lg-5">
                    <div class="main_title text-wrap">
                        <h2>let’s <br>
                            Introduce about <br>
                            myself</h2>
                        <p>
                            Having completed my baccalaureate education in Engineering, my vision of making a
mark in the analytics industry has not taken seed from a few sleepless nights of thought
but has evolved from a strong interest in Algorithms and Database Management, that I
have fostered since a long time. At this point of my professional journey, having been
fascinated and enthralled by subjects in Data Sciences at the undergraduate level, I have
been able to consciously decide on my ultimate goal of being a Data Science
professional.
                        </p>
                        <p>
                            Post completion of under graduate studies, I worked with reputed IT firms liked Tata
Consultancy Services, Infosys, and Capgemini for over a span of 5 years. While working
with Capgemini, I used programming and internal tools for various functionalities of my
project. My project included the SDLC lifecycle, automation testing using internal tools
and client interaction for the creation of functional document design of the requirement.
This initial experience gave me know-about of the corporate world and I learned of many
interesting things about a project lifecycle, a team, manager and the appraisal process
involved. During my 3 years at Capgemini, I was a part of an award-winning cricket and
football team where I acted as the captain even though the team consisted of senior
members. I was awarded the iCompass star for being in the top 15% TDI India
Employees who scored above 70% in the iCompass organizational competency baseline
linked technical assessment while at Capgemini. I was also a recipient of the Star award
for my contribution and dedication in the Customized Model Development team and
efficient customer satisfaction which resulted in early deliveries of projects at Capgemini.
All these awards and appreciation boosted me to go further and indulge myself in new
technologies, new projects and new environment where I can be of more use to the
company and where I can showcase more of what I learned and what I am willing to
learn from my 3 years of initial corporate experience.
Having worked with Infosys for one year, my technical expertise in Database and Java
served me with the opportunity to lead a team in guidance of another team leader. This
experience helped me hone my leadership skills in addition to my technical expertise.</p>
<p>The Insta Award which I received for on-spot analytical skills and valuable inputs in
    finding the root cause of an issue is a testament to my hard work and wide knowledge
    base in Infosys. Later, during my tenure at Tata Consultancy Services, I worked on
    Database, Java Coding, Oracle Weblogic and Unix. Here, I was exposed to the concept of
    Database Admin. Data Mining and Analysis were the key requirements of my client since
    a daily count involved lakhs of transactions. We provided the client with insightful
    information from the data as to how to improve the user experience, relevant information
    about the type of customers and the type of transaction on a daily basis. I have worked on
    Oracle Database for Data Mining and Warehousing as well as Java Programming for
    webpage and server functionality, campaign building for FedEx/TNT for efficient
    marketing. These functions have helped me gain deep insights on the impact of Data
    Sciences on business.
                            </p>

                        <a class="primary_btn" href="https://drive.google.com/drive/folders/1-Vxx5fygGbvCZJSnip1DJkRRapICstxr?usp=sharing"><span>Download CV</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End About Us Area =================-->
    <!--gmaps Js-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="js/gmaps.min.js"></script>
    <script src="js/theme.js"></script>
</body>

</html>