<!doctype html>
<html lang="en">

<head>
	<script src="components/header.js"></script>
	<script src="components/footer.js"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-145455427-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());
		gtag('config', 'UA-145455427-1');
	</script>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sidharth Panda | Portfolio Website</title>
	<!-- Bootstrap CSS -->
	<!-- Latest compiled and minified CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<!-- Latest compiled JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

	<link rel="stylesheet" href="/css/style.css">
</head>

<body background="/images/IMG_6159.jpg">
		<div class="wrapper">
			<div id="intro-example" class="p-5 text-center bg-image">
				<div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
					<div class="d-flex justify-content-center align-items-center">
						<div class="text-white">
							<header-component></header-component>
							<p>Computer science graduate student from the University of North Carolina at Charlotte
								<br>Loves coding, exploring mountains, beaches and long drives
							<p><a class="btn btn-outline-light btn-lg m-2"
									href="https://www.linkedin.com/in/sidharth-panda/"><span>Hire Me</span></a>
								<!--================ End Header Area =================-->
								<!--Start Body-->
							<div class="container-fluid justify-content-center">
								<div class="row">
									<div class="col-sm-4">
										<h2>Microsoft</h2>
										<h5>Software Engineer<br>Feb 2021 - Present<br>Redmond, WA</h5>
										<p>• Developing scripts and code in C# for the new Pricing design in the Azure
											Marketplace
										<p>• Reduced the script execution time by 8hrs from 15hrs for certain Price
											Journals by
											investigating
											the jobs and identifying the bottleneck
										<p>• Reduced latency of workflow execution by 50% by generating standalone
											metadata for
											ingestion
										<p class="fw-bold class">C#, Kusto, Git, Visual Studio, Azure DevOps,
											ScopeScript
									</div>
									<div class="col-sm-4">
										<h2>the Collaborative</h2>
										<h5>SDE Intern<br>July 2020<br>Charlotte - NC</h5>
										<p>• Full-Stack development of an iOS application in Swift 5 and XCode 11 that
											included
											a 3D
											modeling
											component
										<p>• Developed program to effectively use efficient data structure in swift to
											categorize the
											photo
											library
										<p>• Developed App using delegates, Swift MVC, firebase for iOS and Google Maps
											and
											Places SDK
											for iOS
										<p class="fw-bold class">Swift, SceneKit, XCode, Firebase, Cocoa pods, Docker
									</div>
									<div class="col-sm-4">
										<h2>TCS</h2>
										<h5>Senior SWE<br>Oct 2017 - July 2019<br>India</h5>
										<p>• Coordinated a team of 10 - responsible for end-to-end development cycle -
											Agile and
											DevOps
											methodologies
										<p>• Developed Python scripts on Oracle HTTP server to automate Prod deployment
											improving
											efficiency by
											30%
										<p>• Reduced the query run time by 80% by creating functional Index and SQL
											queries in
											the Prod
											database
										<p class="fw-bold class">Java, Python, Oracle SQL, Git, Linux, Eclipse, Jira
									</div>
								</div>
							</div>
							<div class="container-fluid mt-5">
								<div class="row">
									<div class="col-sm-5">
										<h2>Infosys</h2>
										<h5>Senior SWE<br>Aug 2016 - Sept 2017 <br>India</h5>
										<p>• Headed the Campaign Pro team to build efficient campaigns for TNT/FedEx
											that took
											25% less
											time
											to execute
										<p>• Effectively used ServiceNow to implement priority-based development and
											integrations
										<p>• Developed an internal web app in JavaScript, Nodejs and MongoDB deployed on
											AWS EC2
											that
											helped
											the client fetch campaign details
										<p class="fw-bold class">JavaScript, Node.js, React, Python, MongoDB, Amazon
											AWS, Oracle
											SQL
									</div>
									<div class="col-sm-5">
										<h2>Capgemini Limited</h2>
										<h5>Senior SWE<br>Jun 2017 - Aug 2016<br>India</h5>
										<p>• Managed end-to-end development cycle by using Agile methodologies
										<p>• Implemented SHA-256 encryption to securely store customer data in database
											using
											Java
										<p>• Developed tool using Java and SQL, reducing transaction report time by 70%,
											improving
											customer
											experience
										<p class="fw-bold class">Java, Python, Oracle SQL, C++, VS Code</p>
									</div>
								</div>
							</div>
							<div class="container-fluid mt-5">
								<h3>Education</h3>
								<div class="row">
									<div class="wrap">
										<div class="">
											<p class="job">
												Master of Science in Computer Science, University of North Carolina at
												Charlotte
											</p>
											<p class="loc">Charlotte - North Carolina</p>
											<p class="loc">GPA - 4.0</p>
										</div>
										<div class="">
											<span class="year">Aug 2019 – Dec 2020</span>
										</div>
									</div>

									<div class="wrap">
										<div class="">
											<p class="job">
												Bachelor of Information Technology, Institute of Technical Education and
												Research
											</p>
											<p class="loc">Bhubaneswar,Odisha - India</p>
										</div>
										<div class="">
											<span class="year">July 2009 – May 2013</span>
										</div>
									</div>
								</div>
							</div>
							<div id="sfckfxhss3hcmqaq4wymk7kgwtynt1p7ew3"></div>
							<script type="text/javascript"
								src="https://counter6.stat.ovh/private/counter.js?c=kfxhss3hcmqaq4wymk7kgwtynt1p7ew3&down=async"
								async></script>
							<br><a href="https://www.freecounterstat.com"></a><noscript><a
									href="https://www.freecounterstat.com" title="website hit counter"><img
										src="https://counter6.stat.ovh/private/freecounterstat.php?c=kfxhss3hcmqaq4wymk7kgwtynt1p7ew3"></a></noscript>
							</p>
						</div>
					</div>
					<footer-component></footer-component>
				</div>
			</div>
		</div>
</body>

</html>