<!doctype html>
<html lang="en">

  <head>
    <script src="components/header.js"></script>
    <script src="components/footer.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145455427-1"></script>
    <!-- Required meta tags -->
    <title>Sidharth Panda | Portfolio Website</title>
    <!-- Bootstrap CSS -->
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  
    <link rel="stylesheet" href="/css/style.css">
  </head>
<body background="/images/IMG_6159.jpg">
  <div class="wrapper">
    <div id="intro-example" class="p-5 text-center bg-image">
		<div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
			<div class="d-flex justify-content-center align-items-center">
				<div class="text-white">
          <div class="push"></div>
			<header-component></header-component>
        <h1 class="">PAGE IS IN PROGRESS!!!!!!!!!!!!!!!!!!</h1>
    </div> 
      </div>
      <footer-component></footer-component>
      </div>
      </div>
  </div>
</body>